.calculator-button {
	background-color: #e0e0e0;
	border: none;
	outline: 1px solid #8e8e8e;
	box-sizing: border-box;
	font-size: 21px;
	font-weight: 300;
	height: 47px;
	width: 57px;
}

.calculator-button:active {
	filter: brightness(80%);
}

.calculator-button--wide {
	flex-grow: 1;
}
